*{
  box-sizing: border-box;
}
img{
  max-width:100%;
  height: auto;
}
body{
  margin: 0;
  padding: 0;
}
p,span,h1,h2,h3,h4,h5,h6,
nav a,a.btn{
  letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
input{
  transition: all 0.3s ease;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {list-style: none}
a{
  transition: all 0.3s ease;
  text-decoration: none;
}
section{
  padding:40px 0;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}
.devider{
  width:274px;
}
@media(max-width: 1200px){
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header_bottom.sticky{
  background: #C4C4C4;
}
.header .header_bottom.sticky .header_nav_links{
  color:#fff;
}
.header .logo.stuck {
  position: fixed;
  width: 200px;
  left: calc(100% - 57%);
  z-index: 2;
}
.header_bottom.sticky .container{
  padding: 0;
}
@media(max-width: 1024px){
  .header .logo.stuck {
    left: calc(100% - 61%);
  }
}
/***** COMPONENTS ****/
.btn.program {
  @include text(14px, 400, 16px, $bordo_btn, $ff-text);
  display: inline-block;
  border: 1px solid $bordo_btn;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  transition: all .3s ease;
}
.btn.program:hover{
  color:#fff;
  background-color: $bordo_btn;
}
p{
  @include text(14px,400,16px,$black2,$ff-title);
}


//YELLOW BUTTON SUBSCRIBE
.btn.subscr{
  @include btnSubcr(14px);
  &:hover{
    background-color: $yellow_btn-hover;
    color:$white;
  }
}

/*  EVENT SLIDER */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•'; /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


