*{
  box-sizing: border-box;
}
img{
  max-width:100%;
  height: auto;
}
body{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
input{
  transition: all 0.3s ease;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {list-style: none}
a{
  transition: all 0.3s ease;
  text-decoration: none;
}
section{
  padding:40px 0;
}
.headings{
  text-align: center;
  margin-bottom: 35px;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}
.devider{
  width:274px;
}
/***************** HERO Title ********************/
.hero-title{
  @include text(96px,400,100px,$white,$ff-title);
  text-align: center;
  text-transform: uppercase;
}


.blue-title {
  @include text(24px,700,25px,$blueTitle,$ff-title);
  padding-bottom: 20px;
  text-transform: uppercase;
}

/***************** BLUE TITLE *****************/
/* Slider button*/

.additional_slider button[aria-label="Next"],
.prods_slider button[aria-label="Next"]
{
  background: rgba(118,145,185,0.7);
}
.additional_slider button[aria-label="Previous"],
  .prods_slider button[aria-label="Previous"] {
  background: rgba(133,61,81,0.7);
}
.additional_slider button[aria-label="Next"],
.prods_slider button[aria-label="Next"],
.additional_slider button[aria-label="Previous"],
.prods_slider button[aria-label="Previous"]{
  opacity: 1;
  width: 82px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****************** HIDE DEFAULT SVG *******************/
.additional_slider button[aria-label="Next"] svg,
.prods_slider button[aria-label="Next"] svg,
.studio_slider button[aria-label="Next"] svg,
.events_slider button[aria-label="Next"] svg,
.additional_slider button[aria-label="Previous"] svg,
.studio_slider button[aria-label="Previous"] svg,
.events_slider button[aria-label="Previous"] svg,
.prods_slider button[aria-label="Previous"] svg
{
  display: none;
}
.additional_slider button[aria-label="Next"]:after,
.prods_slider button[aria-label="Next"]:after,
.additional_slider button[aria-label="Previous"]:after,
.prods_slider button[aria-label="Previous"]:after
{
  content:'';
  width: 18px;
  height: 33px;
  position: absolute;
}
.additional_slider button[aria-label="Previous"]:after,
.prods_slider button[aria-label="Previous"]:after
{
  left: 30px;
}
.additional_slider button[aria-label="Next"]:after,
.prods_slider button[aria-label="Next"]:after
{
  left:36px;
}

.additional_slider button[aria-label="Next"]:after,
.prods_slider button[aria-label="Next"]:after
{
  background: url('../IMG/Vector.png')no-repeat center;
}


.additional_slider button[aria-label="Previous"]:after,
.prods_slider button[aria-label="Previous"]:after

{
  background: url('../IMG/vector_left.png')no-repeat center;
 }

/********************* EVENT SLIDER *******************/
.slider_item{
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-right: 5%;
}
.first-event{
  margin-right: 30px;
}

.events_slider .slider_item:not(.is-selected) {
  opacity: 0.5;
}
.events_slider .flickity-prev-next-button.previous {
  left: 15%;
}
.events_slider .flickity-prev-next-button.next {
  right: 17%;
}
/********************* EVENT SLIDER *******************/

/* blue arrows*/
.studio_slider button[aria-label="Next"]:after,
.events_slider button[aria-label="Next"]:after
{
  background: url('../IMG/arrow_right.png')no-repeat center;
}
.studio_slider button[aria-label="Previous"]:after,
.events_slider button[aria-label="Previous"]:after{
  background: url('../IMG/arrow_left.png')no-repeat center;
}

.studio_slider button[aria-label="Next"]:after,
.events_slider button[aria-label="Next"]:after,
.studio_slider button[aria-label="Previous"]:after,
.events_slider button[aria-label="Previous"]:after
{
  content:'';
  width: 28px;
  height: 52px;
  position: absolute;
}
.studio_slider .flickity-button:active,
.events_slider .flickity-button:active{
  opacity: 1;}
.studio_slider .flickity-prev-next-button.previous {
  left: 95px;
}
.studio_slider .flickity-prev-next-button.next {
  right: 10%;
}
.studio_slider  .flickity-button,
.events_slider  .flickity-button{
  background: unset;
}



.prods_slider .flickity-prev-next-button.next {
  right: -82px;
}
.prods_slider .flickity-prev-next-button.previous {
  left: -82px;
}
@media(max-width:425px){
  .prods_slider .flickity-prev-next-button.next,
  .prods_slider .flickity-prev-next-button.previous
  {
    display: none;
  }
}

.additional_slider .flickity-page-dots .dot,
.prods_slider .flickity-page-dots .dot
{
  opacity: 1;
  width: 18px;
  height: 18px;
  margin: 0 12px;
  background: #c4c4c4;
  border-radius: 50px;
}
.additional_slider .flickity-page-dots .dot.is-selected,
.prods_slider .flickity-page-dots .dot.is-selected
{
  opacity: 1;
  background: #fff;
  border: 3px solid #c4c4c4;
}
.additional_slider .flickity-page-dots {
  bottom: 22px;
}


.slide {
  display: flex;
  margin-right: 70px;
}
.slide:not(.is-selected) {
  opacity: 0.5;
}


/********************** ORDER NEW FORM ********************/
  form.order-request {
    display: flex;
    justify-content: center;
    input{
      outline: none;
      @include text(14px,400,20px,$header_color,$ff-text);
      padding: 3px;
      text-indent: 9px;
      border: 1px solid #c4c4c4;
      &[name="name"]{
        border-radius:50px 0 0 50px;
        width: 114px;
      }
      &[name="email"]{
        width:169px;
      }
      &[name="phone"]{
        width: 194px;
      }

    }
    input.submit-btn{
      background-color: $yellow_btn;
      @include text(14px,400,22px,$black,$ff-text);
      border:none;
      padding: 3px 24px;
      text-indent: inherit;
      -webkit-border-radius: 0 50px 50px 0;
      -moz-border-radius: 0 50px 50px 0;
      border-radius: 0 50px 50px 0;
      cursor:pointer;
      transition: all .3s ease;
      &:hover{
        background-color: $bordo_btn;
        color:$white;
      }

    }
  }
/********************** ORDER NEW FORM ********************/

/********************** HERO BACKGROUND IMG ****************/
.hero-section {
  height: calc(100vh - 264px);
}

/********************** HERO BACKGROUND IMG ****************/

/************************* MAP ****************************/
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/************************* MAP ****************************/



/* ************************ */
@media(max-width: 1200px){
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header_bottom.sticky{
  background: #C4C4C4;
}
.header .header_bottom.sticky .header_nav_links{
  color:#fff;
}
.header .logo.stuck {
  position: fixed;
  width: 200px;
  left: calc(100% - 57%);
  z-index: 2;
}
.header_bottom.sticky .container{
  padding: 0;
}
@media(max-width: 1024px){
  .header .logo.stuck {
    left: calc(100% - 61%);
  }
}
/***** COMPONENTS ****/
.btn.program {
  @include text(14px, 400, 16px, $bordo_btn, $ff-text);
  display: inline-block;
  border: 1px solid $bordo_btn;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  transition: all .3s ease;
}
.btn.program:hover{
  color:#fff;
  background-color: $bordo_btn;
}
p{@include text(14px,400,16px,$black2,$ff-title);}
p.desc{
  @include text(14px,400,16px,$black2,$ff-title);
  margin: 0 auto;
  width: 80%;
}


//YELLOW BUTTON SUBSCRIBE
.btn.subscr{
  @include btnSubcr(14px);
  &:hover{
    background-color: $yellow_btn-hover;
    color:$white;
  }
}

/*  EVENT SLIDER */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•'; /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/****************** Hero section title *******************/
.hero__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************************** USEFUL POST *****************/
.post{
  display: flex;
  margin-bottom: 42px;
  &__img{
    margin-right: 15px;
  }
  &__content{
    max-width:500px;
    &__title{
      padding: 0 15px;
      h3{
        @include text(36px,400,40px,$blueTitle,$ff-title);
        padding-bottom: 25px;
      }
    }
    &__text{
      padding: 0 15px;
      p{
        @include text(14px,400,16px,$black,$ff-text);
        padding-bottom: 25px;
      }
    }
    &__btn{
      padding: 0 15px;
      a{
        @include text(14px,400,16px,$blueTitle,$ff-title);
      }
    }
  }

}



@media (max-width: 992px){
  .section3{
     .header{
       margin-bottom: 20px;
       h2{
         margin-bottom: 0;
         line-height: 30px;
       }
     }
  }
}



