.header {
     .header_top{
        background-color: $header_color;
        padding: 17px 0;
          &_content{
            @include flex(flex,row,space-between,center);
          }
     }
    &_phones {
      @include flex(inline-flex, column, initial, initial);
      span {
        @include text(18px, 400, 24px, $white, $ff-text);
      }
    }
    &_btn {
        .btn{
         padding: 10px 48px;
        }
    }
    .devider{
      img{
        display: none;
      }
    }
    &_schedule {
      span{
        @include text(16px,600,22px,$white,$ff-text);
        letter-spacing: 1px;
      }
    }
    &_socials {
      .circle{
           @include socialBtn(); 
            i {
          color: $white;
          font-size: 24px;
        } 
        i.fa.fa-youtube{font-size: 18px;}
      }
      .circle.telegram{ @include socialBtnIcon('\f3fe');}
      .circle.facebook{ @include socialBtnIcon('\f39e');}
      .circle.instagram{@include socialBtnIcon('\f16d');}
      .circle.viber{@include socialBtnIcon('\f409');}
     display: flex;
     a{
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background-color:$yellow_btn;
      }
     }   
    }
    .header_bottom{
       padding:44px 0;
      .header_nav{
         display: flex;
         justify-content: space-between;
        &_links{
          @include text(14px,400,20px,$black,$ff-text);
          text-transform: uppercase;
        }
      } 
    }
    .logo {
    display: inline-block;
    position: absolute;
    top: 0;
      left: calc(100% - 62%);
}
}
.hero{
  padding-top: 50px;
  /*height: calc(100vh - 190px);*/
  &_content{
    .wrap{
      text-align: center;
      width: 53%;
      margin: 0 auto;

    }
    &_title{
      letter-spacing: 7px;
      padding-top:70px;
      padding-bottom:60px;
      @include text(7vw,400,96px,$black2,$ff-title);
      text-transform: uppercase;
    }
    &_text{
      @include text(48px,400,54px,$black2,$ff-text);
      padding-bottom:60px;
    }
    &_addr{
      @include flex(flex,column,initial,initial);
      span{@include text(18px,400,24px,$black2,$ff-text);}
      .bold{@include text(24px,600,30px,$black2,$ff-text);}
      padding-bottom:70px;
    }
    .btn{
      padding: 7px 60px;
    }
  }
}
.events{
  &_title{
    @include text(24px,700,25px,$blueTitle,$ff-title);
    text-transform: uppercase;
  }
  &_silder{

  }
}
.reasons{
  &_title{
    h3{
      @include text(24px,700,25px,$blueTitle,$ff-title);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 3%;
    }
  }
  &_block{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:0 20px;
    &_item{

      &_img{
        min-height: 142px;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 22px;
      }
      &_text{
       text-align: center;
        @include text(14px,400,16px,$black2,$ff-text);
      }

    }

  }
}
.banner-block{
    height:564px;
  @include flex(flex,column,center,flex-end);
    &_text{
      width: 50%;
      background-color: rgba(255,255,255,0.8);
      @include text(18px,400,21px,$black2,$ff-text);
      padding: 90px;
    }
}
.studio-master{
  padding: 40px 0;
  &-box{
    display: flex;

    .box{
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      .handmade{
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        &:before{
            content: "";
            width: 60px;
            height: 56px;
            background: url("../IMG/prev_arrow.png")no-repeat center;
            background-size: cover;
            display: block;
            margin: 0 auto;
            position: absolute;
            bottom:0;
          transform: rotate(-25deg);
        }
      }
      .masters{
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        &:after{
          content: "";
          width: 60px;
          height: 56px;
          background: url("../IMG/next_arrow.png")no-repeat center;
          background-size: cover;
          display: block;
          margin: 0 auto;
          position: absolute;
          bottom:0;
          transform: rotate(25deg);
        }
      }
      span{
        @include text(36px,400,42px,$black2,$ff-decor);
        display: block;
        text-align: center;
        position: relative;
        padding-bottom:60px;
      }
      &:last-child{
        margin-right: 0;
      }
      &-item{
        height: 420px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        position: relative;
        z-index: 1;
        &:after{
          content:'';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(133, 61, 81, 0.5);
          z-index: -1;
        }
        h4 {
          padding-bottom: 50px;
          @include text(24px, 700, 25px, $white, $ff-title);
        }
        a{
          padding: 4px 24px;
        }
      }
    }
  }


}
.studio{
  &_title{
    h3{
      @include text(24px,700,25px,$blueTitle,$ff-title);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 3%;
    }
    h4{
      @include text(36px,400,42px,$blueTitle,$ff-title);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 3%;
    }
  }
  &_slider{
    max-width: 100%;
    &_item{
    width: 365px;
    display: flex;
    flex-wrap: wrap;
      padding-bottom: 35px;
      box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);

     &_img{
      padding-bottom:34px
     }
      &_text{
        padding:0 15px;
        min-height: 246px;

        h5{
          @include text(14px,700,21px,$black2,$ff-text);
          padding-bottom:17px
        }

      }
      .btn-area{
        width: 100%;
        padding: 0 15px;
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
         .program{
           padding: 5px 8px;
         }
        .subscr{
          padding: 4px 33px;
          color: $bordo_btn;
          box-shadow: unset;
          &:hover{
            color:$yellow_btn;
          }
        }
      }

    }
  }
}
.additional{
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  &_title {
    h3 {
      @include text(36px, 400, 42px, $blueTitle, $ff-title);
      padding-bottom: 25px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &_desc{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 31px;
  }
  &_warrning{
    display: flex;
    padding-bottom: 41px;
    p{
      @include text(14px,400,21px,$black2,$ff-title);
      padding-left: 25px;

    }
    span{
      font-family: $ff-text;
      font-weight: 700;
      color:$warrning;
    }
  }
  &_slider{

    &_item{

     height: 591px;
    &-wrap{
      display: flex;
      align-items: center;
      height: 100%;
    }
     &-content {
       width: 770px;
       margin: 0 auto;
       .btn-area{
         padding-top: 35px;
         display: flex;
         justify-content: center;
       }
       .btn.subscr{
         background-color: $bordo_btn;
         color:$white;
         transition: all .3s ease;
         padding: 11px 49px;
         &:hover{
            background-color: $white;
           color:$bordo_btn;
         }
       }
     }
      &-text {
        padding: 40px 70px;
        text-align: center;
        box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
        background-color: rgba(118, 145, 185, 0.5);
        h4 {
          @include text(24px, 700, 28px, $white, $ff-title);
          padding-bottom: 18px;
        }
        p {
          @include text(18px, 400, 21px, $white, $ff-text);
        }
      }
    }
  }
}
.prods{
  padding: 40px 0;
  &_title{
    text-align: center;
    padding-bottom: 40px;
    h4{
      @include text(36px,400,42px,$blueTitle,$ff-title);
      text-transform: uppercase;
    }
  }
  &_slider{
    &_item{
      max-width: 370px;
      box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
      padding-bottom: 27px;
      padding-top: 32px;
      &_action{
        display: flex;
        margin-top:20px;
        justify-content: space-between;
        .buy-btn{
          a{
             @include prodsBtn($warrning);
              border-radius: 0 50px 50px 0;
          }
        }
        .price{
          span{
            @include text(24px,400,30px,$warrning,$ff-text);
          }
        }
        .more{
          a{
            @include prodsBtn($black);
            border-radius: 50px 0 0 50px;
          }
        }
      }
    }
  }
  .order_new{
    h4{
      padding: 40px 0;
      @include text(36px,400,42px,$blueTitle,$ff-title);
      text-transform: uppercase;
      text-align: center;
    }
    form.order-request {
      display: flex;
      input{
        padding: 9px 18px;
        outline: none;
        @include text(14px,400,20px,$header_color,$ff-text);
        &[name="name"]{
         border-radius: 50px 0 0 50px;
          border:1px solid $header_color
        }
      }
    }
  }

}

@media(max-width: 1200px){
  .header{
    width: 100%;
     .logo{
    left: calc(100% - 189px - 50%);
   }
    .header_top{
      padding:15px 15px;
      &_content{
          display: grid;
          grid-template-columns: 1fr 274px 1fr;
          grid-template-rows:1fr 1fr;
        .header_phones,
        .header_btn{grid-column: 1/2}
        .header_socials{grid-row:1;}
        .header_socials,
        .header_schedule{grid-column: 3/4;}
      }
    }
    div{justify-self:center;padding:0 1%;}
    &_socials{
      .circle{
        width: 32px;
        height: 32px;
      }
    }

   &_phones{margin-bottom: 15px;}
  
  }
}
@media(max-width: 1024px){
  .header{
    .header_top{
      &_content{

    }
  }
}
  .banner-block{
    &_text{
      width: 80%;
    }
  }
}
@media(max-width: 992px){
  .header{
    .header_bottom{
    
      .header_nav{
      display: grid;
      grid-template-columns:1fr 1fr 274px 1fr 1fr;
      grid-template-rows:1fr 1fr;
      .about{grid-column: 1/2;}
     .services{grid-column: 2/3;position: relative;left: -26px;}
     .show-room{grid-column: 1/2;justify-self: center}
      .time{grid-column: 2/3;justify-self: center}
      .interest{grid-column: 4/5;grid-row: 1;}
      .news{grid-column: 5/6; grid-row: 1;position: relative;left: -13px;}
      .contacts{grid-column: 4/5;justify-self: end;}
      .gallery{grid-column: 5/6;justify-self: center}
    }
  }
}
  .reasons_block {
    grid-template-columns: repeat(3, 1fr);
    grid-gap:15px;
  }
  .studio-master{
    &-box{
      .handmade, .masters{
        span{
          font-size: 29px;
        }
      }
    }
  }
}
@media(max-width: 768px){
.header{
    .header_top{
      max-height: 176px;
      padding:0;
      &_content{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:auto;
        .devider{
              grid-column: 2/3;
              width: auto;
              grid-row: 1/3;
        }
        .devider img{
         display: block;
         width: 200px;
          }
      }
    }
    .header_bottom{
        padding: 15px 15px;
      .header_nav{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        a{
          letter-spacing: 1px;
        }
     .services{grid-column: 2/3;position: relative;left: 0;}
     .show-room{grid-column: 1/2;justify-self: end}
      .time{grid-column: 2/3; justify-self: end;}
      .interest{grid-column: 3/4;grid-row: 1;}
      .news{grid-column: 4/5; grid-row: 1;position: relative;left:0;}
      .contacts{grid-column: 3/4;justify-self:end;}
      .gallery{grid-column: 4/5;justify-self:end;}
        
        
        .devider{
          display: none;
        }
      }
    }
  .logo{display: none;}
  &_phones{margin-bottom: 10px;align-self: end}
  &_btn{align-self: start;}
  &_socials{align-self: end;margin-bottom: 10px;}
  &_schedule{align-self: start;}

}
.hero{
  .wrap{
    width: 100%;
  }
}
  .banner-block{
    height: 300px;
    &_text{
      width: 100%;
      padding: 60px;
    }
  }
  .studio-master {
    &-box {
      .box {
        margin-right: 15px;
        .handmade {
          span {
            padding-bottom: 15px;
            font-size: 21px;
          }
          &:before {
            display: none;
          }
        }
        .masters {
          span {
            padding-bottom: 15px;
            font-size: 21px;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
@media(max-width: 575px){
  .hero{

  }
  .banner-block{
    height: auto;
    &_text{
        padding: 20px;
    }
  }
  .reasons{
    &_block{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .studio-master{
    padding: 15px 0;
    &-box{
      flex-wrap: wrap;
      .box{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
        .handmade{
          margin-bottom: 0;
          span{
            font-size: 32px;
          }
        }
        .masters{
          margin-bottom: 0;
          span{
            font-size: 32px;
          }
        }
      }
    }
  }
}
@media(max-width: 425px){
  .header{
    .header_top{
          max-height: 154px;
      &_content{
        grid-template-columns: 1fr 100px 1fr;
      .devider {
        padding-top: 20px;
      }
      .devider img{
          width: 100px;
        }
      }

    }
    &_phones{
      padding-bottom: 10px;
      display: block;
      margin-bottom: 0;
      text-align: center;
      span{
        font-size: 11px;
        line-height: 11px;
        display: inline-block;
      }
    }
    &_btn{
      display: block;
      font-size: 10px;
      .btn{
        padding: 3px 12px;

      }
      .btn.subscr {
        font-size: 10px;
      }
    }
    &_socials{
      display: flex;
      margin-bottom: 10px;
      .circle{
        width: inherit;
        height: inherit;
        border: unset;
        font-size: 24px;
      }
    }
    &_schedule{
      display: block;
    }
    .header_schedule span{
      font-size: 11px;
    }
    .header_bottom{
          padding: 10px 5px;
          .header_nav_links{
            font-size: 13px;
          }
          .header_nav{
             grid-gap: 6px 12px;
          .time{justify-self:start;}
            a.header_nav_links{
              justify-self: center;
            }
        }

    }
  }
  .hero{
    height: calc(100vh - 214px);
    padding: 0;
    display: flex;
    &_content{
      display: flex;
      align-items: center;
      max-width: 100%;

      &_title{
        font-size: 16vw;
        line-height: 15vh;
        margin-bottom: 10px;
      }
      &_text{
        font-size: 22px;
        padding: 0 15px;
        line-height: 23px;
        margin-bottom: 15px;
      }
      &_addr {
        padding-bottom: 30px;
        span, span.bold {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
  .studio-master{
    &-box{
      .box{
        .handmade{
          span{
            font-size: 29px;
          }
        }
        .masters{
          span{
            font-size: 29px;
          }
        }
      }
    }
  }
}
@media(max-width:375px){
  .header{
    &_phones{
      display: block;
      margin-bottom: 0;
     text-align: center;
      span{
        font-size: 8px;
        line-height: 11px;
        display: inline-block;
      }
    }
    .header_phones{
      padding-bottom: 10px;
    }
    &_btn{
      display: block;
      font-size: 10px;
      .btn{
        padding: 3px 12px;

      }
      .btn.subscr {
        font-size: 10px;
      }
    }
    &_socials{
      display: flex;
      margin-bottom: 20px;
      .circle{
        font-size: 17px;
      }
    }
    &_schedule{
      display: block;
    }
    .header_schedule span{
      font-size: 8px;
    }
     .header_bottom {
       .header_nav{
       &_links {
         font-size: 10px;
       }
     }
    }
  }
  .studio-master{
    &-box{
      .box{
        .handmade{
          span{
            font-size: 23px;
          }
        }
        .masters{
          span{
            font-size: 23px;
          }
        }
      }
    }
  }

}
@media(max-width:320px){
  .header{

  }
}