@mixin flex($flex,$direction,$justify,$align){
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin header_phones($fz,$fw,$lh,$c,$ff:sans-serif){
  font-family:$ff;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  color:$c;
}