.latest-news{
  &__slider{
    &__item{
      display:grid;
      grid-template-columns: 1fr 1fr;
      &-img{
        margin-right: 2vw;
      }
      h4{
        @include text(18px,400,27px,$blueTitle,$ff-title);
        padding-bottom: 1vh;
      }
      &-content{
        position: relative;
        &-inner {

          p {
            padding-bottom: 16px;
          }
        }
        .btn-area{
          position: absolute;
          bottom:0;
          .btn.subscr {
            font-size: 18px;
            padding: 10px 29px;
          }
        }


      }
    }
  }
}