/*Colors*/
$white:#fff;
$black:#000;
$black2:#282828;
$header_color:#C4C4C4;
$yellow_btn:#FEDA03;
$bordo_btn:#853D51;
$blueTitle:#7691B9;
$warrning:#ff6b00;



/*Hover colors*/
$yellow_btn-hover:#853D51;


/*Font Family*/
$ff-text: PT Sans, sans-serif;
$ff-title:PT Mono, monospace;
$ff-decor:Marck Script, cursive;