.section3{
  .headings{
     h4.blue-title{
       @include text(35px,400,42px,$blueTitle,$ff-title);
       padding-bottom: 0;
       padding-top: 20px;
     }
  }

}
.worshop-prods{
.headings{
  h4{
    @include text(36px,400,42px,$blueTitle,$ff-title);
  }
}
  &__content{
    display: flex;
    flex-wrap: wrap;
    &__item{
      width: 31%;
      margin-bottom: 3%;
      box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
      &:nth-child(3n+2){
        margin:0 3%;
        margin-bottom: 3%;
      }
      .prods_slider_item_action{
        margin-bottom: 20px;
      }
    }
  }
}