@charset "UTF-8";
/*Colors*/
/*Hover colors*/
/*Font Family*/
/*Layout*/
/*Text and Titles*/
/* Socials buttons*/
/*Buttons*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  padding: 0; }

p, span, h1, h2, h3, h4, h5, h6,
nav a, a.btn {
  letter-spacing: 2px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input {
  transition: all 0.3s ease; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  transition: all 0.3s ease;
  text-decoration: none; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px; }

.devider {
  width: 274px; }

/***** COMPONENTS ****/
.btn.subscr {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #282828;
  display: inline-block;
  background-color: #FEDA03;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25); }
  .btn.subscr:hover {
    background-color: #853D51;
    color: #fff; }

/*  EVENT SLIDER */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*Font for text*/
/*Font for Titles*/
.header .header_top {
  background-color: #C4C4C4;
  padding: 17px 0; }
  .header .header_top_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
.header_phones {
  display: inline-flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial; }
  .header_phones span {
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff; }
.header_btn .btn {
  padding: 10px 48px; }
.header .devider img {
  display: none; }
.header_schedule span {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  letter-spacing: 1px; }
.header_socials {
  display: flex; }
  .header_socials .circle {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header_socials .circle i {
      color: #fff;
      font-size: 24px; }
    .header_socials .circle i.fa.fa-youtube {
      font-size: 18px; }
  .header_socials .circle.telegram:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.facebook:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.instagram:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.viber:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials a {
    margin-right: 8px; }
    .header_socials a:last-child {
      margin-right: 0; }
    .header_socials a:hover {
      background-color: #FEDA03; }
.header .header_bottom {
  padding: 44px 0; }
  .header .header_bottom .header_nav {
    display: flex;
    justify-content: space-between; }
    .header .header_bottom .header_nav_links {
      font-family: PT Sans, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #000;
      text-transform: uppercase; }
.header .logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 37%; }

.hero {
  padding-top: 50px;
  /*height: calc(100vh - 190px);*/ }
  .hero_content .wrap {
    text-align: center;
    width: 53%;
    margin: 0 auto; }
  .hero_content_title {
    letter-spacing: 7px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: PT Mono, monospace;
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    color: #282828;
    text-transform: uppercase; }
  .hero_content_text {
    font-family: PT Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    color: #282828;
    padding-bottom: 60px; }
  .hero_content_addr {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    padding-bottom: 70px; }
    .hero_content_addr span {
      font-family: PT Sans, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #282828; }
    .hero_content_addr .bold {
      font-family: PT Sans, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #282828; }
  .hero_content .btn {
    padding: 7px 60px; }

.events_title {
  font-family: PT Mono, monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: #7691B9;
  text-transform: uppercase; }

@media (max-width: 1200px) {
  .header {
    width: 100%; }
    .header .logo {
      left: calc(100% - 189px - 50%); }
    .header .header_top {
      padding: 15px 15px; }
      .header .header_top_content {
        display: grid;
        grid-template-columns: 1fr 274px 1fr;
        grid-template-rows: 1fr 1fr; }
        .header .header_top_content .header_phones,
        .header .header_top_content .header_btn {
          grid-column: 1/2; }
        .header .header_top_content .header_socials {
          grid-row: 1; }
        .header .header_top_content .header_socials,
        .header .header_top_content .header_schedule {
          grid-column: 3/4; }
    .header div {
      justify-self: center;
      padding: 0 1%; }
    .header_socials .circle {
      width: 32px;
      height: 32px; }
    .header_phones {
      margin-bottom: 15px; } }
@media (max-width: 992px) {
  .header .header_bottom .header_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 274px 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .header .header_bottom .header_nav .about {
      grid-column: 1/2; }
    .header .header_bottom .header_nav .services {
      grid-column: 2/3;
      position: relative;
      left: -26px; }
    .header .header_bottom .header_nav .show-room {
      grid-column: 1/2;
      justify-self: center; }
    .header .header_bottom .header_nav .time {
      grid-column: 2/3;
      justify-self: center; }
    .header .header_bottom .header_nav .interest {
      grid-column: 4/5;
      grid-row: 1; }
    .header .header_bottom .header_nav .news {
      grid-column: 5/6;
      grid-row: 1;
      position: relative;
      left: -13px; }
    .header .header_bottom .header_nav .contacts {
      grid-column: 4/5;
      justify-self: end; }
    .header .header_bottom .header_nav .gallery {
      grid-column: 5/6;
      justify-self: center; } }
@media (max-width: 768px) {
  .header .header_top {
    max-height: 176px;
    padding: 0; }
    .header .header_top_content {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto; }
      .header .header_top_content .devider {
        grid-column: 2/3;
        width: auto;
        grid-row: 1/3; }
      .header .header_top_content .devider img {
        display: block;
        width: 200px; }
  .header .header_bottom {
    padding: 15px 15px; }
    .header .header_bottom .header_nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      .header .header_bottom .header_nav a {
        letter-spacing: 1px; }
      .header .header_bottom .header_nav .services {
        grid-column: 2/3;
        position: relative;
        left: 0; }
      .header .header_bottom .header_nav .show-room {
        grid-column: 1/2;
        justify-self: end; }
      .header .header_bottom .header_nav .time {
        grid-column: 2/3;
        justify-self: end; }
      .header .header_bottom .header_nav .interest {
        grid-column: 3/4;
        grid-row: 1; }
      .header .header_bottom .header_nav .news {
        grid-column: 4/5;
        grid-row: 1;
        position: relative;
        left: 0; }
      .header .header_bottom .header_nav .contacts {
        grid-column: 3/4;
        justify-self: end; }
      .header .header_bottom .header_nav .gallery {
        grid-column: 4/5;
        justify-self: end; }
      .header .header_bottom .header_nav .devider {
        display: none; }
  .header .logo {
    display: none; }
  .header_phones {
    margin-bottom: 10px;
    align-self: end; }
  .header_btn {
    align-self: start; }
  .header_socials {
    align-self: end;
    margin-bottom: 10px; }
  .header_schedule {
    align-self: start; }

  .hero .wrap {
    width: 100%; } }
@media (max-width: 425px) {
  .header .header_top {
    max-height: 154px; }
    .header .header_top_content {
      grid-template-columns: 1fr 100px 1fr; }
      .header .header_top_content .devider {
        padding-top: 20px; }
      .header .header_top_content .devider img {
        width: 100px; }
  .header_phones {
    padding-bottom: 10px;
    display: block;
    margin-bottom: 0;
    text-align: center; }
    .header_phones span {
      font-size: 11px;
      line-height: 11px;
      display: inline-block; }
  .header_btn {
    display: block;
    font-size: 10px; }
    .header_btn .btn {
      padding: 3px 12px; }
    .header_btn .btn.subscr {
      font-size: 10px; }
  .header_socials {
    display: flex;
    margin-bottom: 10px; }
    .header_socials .circle {
      width: inherit;
      height: inherit;
      border: unset;
      font-size: 24px; }
  .header_schedule {
    display: block; }
  .header .header_schedule span {
    font-size: 11px; }
  .header .header_bottom {
    padding: 10px 5px; }
    .header .header_bottom .header_nav_links {
      font-size: 13px; }
    .header .header_bottom .header_nav {
      grid-gap: 6px 12px; }
      .header .header_bottom .header_nav .time {
        justify-self: start; }
      .header .header_bottom .header_nav a.header_nav_links {
        justify-self: center; }

  .hero {
    height: calc(100vh - 214px);
    padding: 0;
    display: flex; }
    .hero_content {
      display: flex;
      align-items: center;
      max-width: 100%; }
      .hero_content_title {
        font-size: 16vw;
        padding: 15px 15px;
        line-height: 15vh;
        margin-bottom: 10px; }
      .hero_content_text {
        font-size: 22px;
        padding: 0 15px;
        line-height: 23px;
        margin-bottom: 15px; }
      .hero_content_addr {
        padding-bottom: 30px; }
        .hero_content_addr span, .hero_content_addr span.bold {
          font-size: 16px;
          line-height: 18px; } }
@media (max-width: 375px) {
  .header_phones {
    display: block;
    margin-bottom: 0;
    text-align: center; }
    .header_phones span {
      font-size: 8px;
      line-height: 11px;
      display: inline-block; }
  .header .header_phones {
    padding-bottom: 10px; }
  .header_btn {
    display: block;
    font-size: 10px; }
    .header_btn .btn {
      padding: 3px 12px; }
    .header_btn .btn.subscr {
      font-size: 10px; }
  .header_socials {
    display: flex;
    margin-bottom: 20px; }
    .header_socials .circle {
      font-size: 17px; }
  .header_schedule {
    display: block; }
  .header .header_schedule span {
    font-size: 8px; }
  .header .header_bottom .header_nav_links {
    font-size: 10px; } }
.slider_item a {
  display: inline-block; }
