@charset "UTF-8";
/*Colors*/
/*Hover colors*/
/*Font Family*/
/*Layout*/
/*Text and Titles*/
/* Socials buttons*/
/*Buttons*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic");
* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  padding: 0; }

p, span, h1, h2, h3, h4, h5, h6,
nav a, a.btn {
  letter-spacing: 2px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input {
  transition: all 0.3s ease; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  transition: all 0.3s ease;
  text-decoration: none; }

section {
  padding: 40px 0; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px; }

.devider {
  width: 274px; }

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 15px; } }
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.header_bottom.sticky {
  background: #C4C4C4; }

.header .header_bottom.sticky .header_nav_links {
  color: #fff; }

.header .logo.stuck {
  position: fixed;
  width: 200px;
  left: calc(100% - 57%);
  z-index: 2; }

@media (max-width: 1024px) {
  .header .logo.stuck {
    left: calc(100% - 61%); } }
/***** COMPONENTS ****/
.btn.program {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #853D51;
  display: inline-block;
  border: 1px solid #853D51;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  transition: all .3s ease; }

.btn.program:hover {
  color: #fff;
  background-color: #853D51; }

p {
  font-family: PT Mono, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #282828; }

.btn.subscr {
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #282828;
  display: inline-block;
  background-color: #FEDA03;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25); }
  .btn.subscr:hover {
    background-color: #853D51;
    color: #fff; }

/*  EVENT SLIDER */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*Font for text*/
/*Font for Titles*/
/* Decor font handwritting*/
.header .header_top {
  background-color: #C4C4C4;
  padding: 17px 0; }
  .header .header_top_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
.header_phones {
  display: inline-flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial; }
  .header_phones span {
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff; }
.header_btn .btn {
  padding: 10px 48px; }
.header .devider img {
  display: none; }
.header_schedule span {
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  letter-spacing: 1px; }
.header_socials {
  display: flex; }
  .header_socials .circle {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header_socials .circle i {
      color: #fff;
      font-size: 24px; }
    .header_socials .circle i.fa.fa-youtube {
      font-size: 18px; }
  .header_socials .circle.telegram:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.facebook:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.instagram:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials .circle.viber:before {
    font-family: "Font Awesome 5 Brands";
    content: "";
    color: #fff; }
  .header_socials a {
    margin-right: 8px; }
    .header_socials a:last-child {
      margin-right: 0; }
    .header_socials a:hover {
      background-color: #FEDA03; }
.header .header_bottom {
  padding: 44px 0; }
  .header .header_bottom .header_nav {
    display: flex;
    justify-content: space-between; }
    .header .header_bottom .header_nav_links {
      font-family: PT Sans, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #000;
      text-transform: uppercase; }
.header .logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% - 62%); }

.hero {
  padding-top: 50px;
  /*height: calc(100vh - 190px);*/ }
  .hero_content .wrap {
    text-align: center;
    width: 53%;
    margin: 0 auto; }
  .hero_content_title {
    letter-spacing: 7px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: PT Mono, monospace;
    font-size: 7vw;
    font-weight: 400;
    line-height: 96px;
    color: #282828;
    text-transform: uppercase; }
  .hero_content_text {
    font-family: PT Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    color: #282828;
    padding-bottom: 60px; }
  .hero_content_addr {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    padding-bottom: 70px; }
    .hero_content_addr span {
      font-family: PT Sans, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #282828; }
    .hero_content_addr .bold {
      font-family: PT Sans, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #282828; }
  .hero_content .btn {
    padding: 7px 60px; }

.events_title {
  font-family: PT Mono, monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: #7691B9;
  text-transform: uppercase; }

.reasons_title h3 {
  font-family: PT Mono, monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: #7691B9;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%; }
.reasons_block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 20px; }
  .reasons_block_item_img {
    min-height: 142px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 22px; }
  .reasons_block_item_text {
    text-align: center;
    font-family: PT Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #282828; }

.banner-block {
  height: 564px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .banner-block_text {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #282828;
    padding: 90px; }

.studio-master {
  padding: 40px 0; }
  .studio-master-box {
    display: flex; }
    .studio-master-box .box {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 30px; }
      .studio-master-box .box .handmade {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5px; }
        .studio-master-box .box .handmade:before {
          content: "";
          width: 60px;
          height: 56px;
          background: url("../IMG/prev_arrow.png") no-repeat center;
          background-size: cover;
          display: block;
          margin: 0 auto;
          position: absolute;
          bottom: 0;
          transform: rotate(-25deg); }
      .studio-master-box .box .masters {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 5px; }
        .studio-master-box .box .masters:after {
          content: "";
          width: 60px;
          height: 56px;
          background: url("../IMG/next_arrow.png") no-repeat center;
          background-size: cover;
          display: block;
          margin: 0 auto;
          position: absolute;
          bottom: 0;
          transform: rotate(25deg); }
      .studio-master-box .box span {
        font-family: Marck Script, cursive;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        color: #282828;
        display: block;
        text-align: center;
        position: relative;
        padding-bottom: 60px; }
      .studio-master-box .box:last-child {
        margin-right: 0; }
      .studio-master-box .box-item {
        height: 420px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        position: relative;
        z-index: 1; }
        .studio-master-box .box-item:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(133, 61, 81, 0.5);
          z-index: -1; }
        .studio-master-box .box-item h4 {
          padding-bottom: 50px;
          font-family: PT Mono, monospace;
          font-size: 24px;
          font-weight: 700;
          line-height: 25px;
          color: #fff; }
        .studio-master-box .box-item a {
          padding: 4px 24px; }

.studio_title h3 {
  font-family: PT Mono, monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: #7691B9;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%; }
.studio_title h4 {
  font-family: PT Mono, monospace;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #7691B9;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3%; }
.studio_slider {
  max-width: 100%; }
  .studio_slider_item {
    width: 365px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25); }
    .studio_slider_item_img {
      padding-bottom: 34px; }
    .studio_slider_item_text {
      padding: 0 15px;
      min-height: 246px; }
      .studio_slider_item_text h5 {
        font-family: PT Sans, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        color: #282828;
        padding-bottom: 17px; }
    .studio_slider_item .btn-area {
      width: 100%;
      padding: 0 15px;
      margin-top: 26px;
      display: flex;
      justify-content: space-between; }
      .studio_slider_item .btn-area .program {
        padding: 5px 8px; }
      .studio_slider_item .btn-area .subscr {
        padding: 4px 33px;
        color: #853D51;
        box-shadow: unset; }
        .studio_slider_item .btn-area .subscr:hover {
          color: #FEDA03; }

.additional .container {
  max-width: 1000px;
  margin: 0 auto; }
.additional_title h3 {
  font-family: PT Mono, monospace;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #7691B9;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase; }
.additional_desc {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 31px; }
.additional_warrning {
  display: flex;
  padding-bottom: 41px; }
  .additional_warrning p {
    font-family: PT Mono, monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #282828;
    padding-left: 25px; }
  .additional_warrning span {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    color: #ff6b00; }
.additional_slider_item {
  height: 591px; }
  .additional_slider_item-wrap {
    display: flex;
    align-items: center;
    height: 100%; }
  .additional_slider_item-content {
    width: 770px;
    margin: 0 auto; }
    .additional_slider_item-content .btn-area {
      padding-top: 35px;
      display: flex;
      justify-content: center; }
    .additional_slider_item-content .btn.subscr {
      background-color: #853D51;
      color: #fff;
      transition: all .3s ease;
      padding: 11px 49px; }
      .additional_slider_item-content .btn.subscr:hover {
        background-color: #fff;
        color: #853D51; }
  .additional_slider_item-text {
    padding: 40px 70px;
    text-align: center;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
    background-color: rgba(118, 145, 185, 0.5); }
    .additional_slider_item-text h4 {
      font-family: PT Mono, monospace;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: #fff;
      padding-bottom: 18px; }
    .additional_slider_item-text p {
      font-family: PT Sans, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #fff; }

.prods {
  padding: 40px 0; }
  .prods_title {
    text-align: center;
    padding-bottom: 40px; }
    .prods_title h4 {
      font-family: PT Mono, monospace;
      font-size: 36px;
      font-weight: 400;
      line-height: 42px;
      color: #7691B9;
      text-transform: uppercase; }
  .prods_slider_item {
    max-width: 370px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
    padding-bottom: 27px;
    padding-top: 32px; }
    .prods_slider_item_action {
      display: flex;
      margin-top: 20px;
      justify-content: space-between; }
      .prods_slider_item_action .buy-btn a {
        font-family: PT Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        background-color: #ff6b00;
        padding: 8px 21px;
        transition: all 0.3s ease;
        border-radius: 0 50px 50px 0; }
        .prods_slider_item_action .buy-btn a:hover {
          background-color: #ffb580; }
      .prods_slider_item_action .price span {
        font-family: PT Sans, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        color: #ff6b00; }
      .prods_slider_item_action .more a {
        font-family: PT Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        background-color: #000;
        padding: 8px 21px;
        transition: all 0.3s ease;
        border-radius: 50px 0 0 50px; }
        .prods_slider_item_action .more a:hover {
          background-color: #404040; }
  .prods .order_new h4 {
    padding: 40px 0;
    font-family: PT Mono, monospace;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #7691B9;
    text-transform: uppercase;
    text-align: center; }
  .prods .order_new form.order-request {
    display: flex; }
    .prods .order_new form.order-request input {
      padding: 9px 18px;
      outline: none;
      font-family: PT Sans, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #C4C4C4; }
      .prods .order_new form.order-request input[name="name"] {
        border-radius: 50px 0 0 50px;
        border: 1px solid #C4C4C4; }

@media (max-width: 1200px) {
  .header {
    width: 100%; }
    .header .logo {
      left: calc(100% - 189px - 50%); }
    .header .header_top {
      padding: 15px 15px; }
      .header .header_top_content {
        display: grid;
        grid-template-columns: 1fr 274px 1fr;
        grid-template-rows: 1fr 1fr; }
        .header .header_top_content .header_phones,
        .header .header_top_content .header_btn {
          grid-column: 1/2; }
        .header .header_top_content .header_socials {
          grid-row: 1; }
        .header .header_top_content .header_socials,
        .header .header_top_content .header_schedule {
          grid-column: 3/4; }
    .header div {
      justify-self: center;
      padding: 0 1%; }
    .header_socials .circle {
      width: 32px;
      height: 32px; }
    .header_phones {
      margin-bottom: 15px; } }
@media (max-width: 1024px) {
  .banner-block_text {
    width: 80%; } }
@media (max-width: 992px) {
  .header .header_bottom .header_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 274px 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .header .header_bottom .header_nav .about {
      grid-column: 1/2; }
    .header .header_bottom .header_nav .services {
      grid-column: 2/3;
      position: relative;
      left: -26px; }
    .header .header_bottom .header_nav .show-room {
      grid-column: 1/2;
      justify-self: center; }
    .header .header_bottom .header_nav .time {
      grid-column: 2/3;
      justify-self: center; }
    .header .header_bottom .header_nav .interest {
      grid-column: 4/5;
      grid-row: 1; }
    .header .header_bottom .header_nav .news {
      grid-column: 5/6;
      grid-row: 1;
      position: relative;
      left: -13px; }
    .header .header_bottom .header_nav .contacts {
      grid-column: 4/5;
      justify-self: end; }
    .header .header_bottom .header_nav .gallery {
      grid-column: 5/6;
      justify-self: center; }

  .reasons_block {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; }

  .studio-master-box .handmade span, .studio-master-box .masters span {
    font-size: 29px; } }
@media (max-width: 768px) {
  .header .header_top {
    max-height: 176px;
    padding: 0; }
    .header .header_top_content {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto; }
      .header .header_top_content .devider {
        grid-column: 2/3;
        width: auto;
        grid-row: 1/3; }
      .header .header_top_content .devider img {
        display: block;
        width: 200px; }
  .header .header_bottom {
    padding: 15px 15px; }
    .header .header_bottom .header_nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      .header .header_bottom .header_nav a {
        letter-spacing: 1px; }
      .header .header_bottom .header_nav .services {
        grid-column: 2/3;
        position: relative;
        left: 0; }
      .header .header_bottom .header_nav .show-room {
        grid-column: 1/2;
        justify-self: end; }
      .header .header_bottom .header_nav .time {
        grid-column: 2/3;
        justify-self: end; }
      .header .header_bottom .header_nav .interest {
        grid-column: 3/4;
        grid-row: 1; }
      .header .header_bottom .header_nav .news {
        grid-column: 4/5;
        grid-row: 1;
        position: relative;
        left: 0; }
      .header .header_bottom .header_nav .contacts {
        grid-column: 3/4;
        justify-self: end; }
      .header .header_bottom .header_nav .gallery {
        grid-column: 4/5;
        justify-self: end; }
      .header .header_bottom .header_nav .devider {
        display: none; }
  .header .logo {
    display: none; }
  .header_phones {
    margin-bottom: 10px;
    align-self: end; }
  .header_btn {
    align-self: start; }
  .header_socials {
    align-self: end;
    margin-bottom: 10px; }
  .header_schedule {
    align-self: start; }

  .hero .wrap {
    width: 100%; }

  .banner-block {
    height: 300px; }
    .banner-block_text {
      width: 100%;
      padding: 60px; }

  .studio-master-box .box {
    margin-right: 15px; }
    .studio-master-box .box .handmade span {
      padding-bottom: 15px;
      font-size: 21px; }
    .studio-master-box .box .handmade:before {
      display: none; }
    .studio-master-box .box .masters span {
      padding-bottom: 15px;
      font-size: 21px; }
    .studio-master-box .box .masters:after {
      display: none; } }
@media (max-width: 575px) {
  .banner-block {
    height: auto; }
    .banner-block_text {
      padding: 20px; }

  .reasons_block {
    grid-template-columns: repeat(2, 1fr); }

  .studio-master {
    padding: 15px 0; }
    .studio-master-box {
      flex-wrap: wrap; }
      .studio-master-box .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px; }
        .studio-master-box .box:last-child {
          margin-bottom: 0; }
        .studio-master-box .box .handmade {
          margin-bottom: 0; }
          .studio-master-box .box .handmade span {
            font-size: 32px; }
        .studio-master-box .box .masters {
          margin-bottom: 0; }
          .studio-master-box .box .masters span {
            font-size: 32px; } }
@media (max-width: 425px) {
  .header .header_top {
    max-height: 154px; }
    .header .header_top_content {
      grid-template-columns: 1fr 100px 1fr; }
      .header .header_top_content .devider {
        padding-top: 20px; }
      .header .header_top_content .devider img {
        width: 100px; }
  .header_phones {
    padding-bottom: 10px;
    display: block;
    margin-bottom: 0;
    text-align: center; }
    .header_phones span {
      font-size: 11px;
      line-height: 11px;
      display: inline-block; }
  .header_btn {
    display: block;
    font-size: 10px; }
    .header_btn .btn {
      padding: 3px 12px; }
    .header_btn .btn.subscr {
      font-size: 10px; }
  .header_socials {
    display: flex;
    margin-bottom: 10px; }
    .header_socials .circle {
      width: inherit;
      height: inherit;
      border: unset;
      font-size: 24px; }
  .header_schedule {
    display: block; }
  .header .header_schedule span {
    font-size: 11px; }
  .header .header_bottom {
    padding: 10px 5px; }
    .header .header_bottom .header_nav_links {
      font-size: 13px; }
    .header .header_bottom .header_nav {
      grid-gap: 6px 12px; }
      .header .header_bottom .header_nav .time {
        justify-self: start; }
      .header .header_bottom .header_nav a.header_nav_links {
        justify-self: center; }

  .hero {
    height: calc(100vh - 214px);
    padding: 0;
    display: flex; }
    .hero_content {
      display: flex;
      align-items: center;
      max-width: 100%; }
      .hero_content_title {
        font-size: 16vw;
        line-height: 15vh;
        margin-bottom: 10px; }
      .hero_content_text {
        font-size: 22px;
        padding: 0 15px;
        line-height: 23px;
        margin-bottom: 15px; }
      .hero_content_addr {
        padding-bottom: 30px; }
        .hero_content_addr span, .hero_content_addr span.bold {
          font-size: 16px;
          line-height: 18px; }

  .studio-master-box .box .handmade span {
    font-size: 29px; }
  .studio-master-box .box .masters span {
    font-size: 29px; } }
@media (max-width: 375px) {
  .header_phones {
    display: block;
    margin-bottom: 0;
    text-align: center; }
    .header_phones span {
      font-size: 8px;
      line-height: 11px;
      display: inline-block; }
  .header .header_phones {
    padding-bottom: 10px; }
  .header_btn {
    display: block;
    font-size: 10px; }
    .header_btn .btn {
      padding: 3px 12px; }
    .header_btn .btn.subscr {
      font-size: 10px; }
  .header_socials {
    display: flex;
    margin-bottom: 20px; }
    .header_socials .circle {
      font-size: 17px; }
  .header_schedule {
    display: block; }
  .header .header_schedule span {
    font-size: 8px; }
  .header .header_bottom .header_nav_links {
    font-size: 10px; }

  .studio-master-box .box .handmade span {
    font-size: 23px; }
  .studio-master-box .box .masters span {
    font-size: 23px; } }
.slider_item a {
  display: inline-block; }
